<div class="card" style="width: 18rem;">
  <img src="assets/img/bg/img-card.jpg" class="img card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title text-center">Bolsa de cemento gris * kilo argos</h5>
    <p class="card-text text-center ">
      $12.000
    </p>
    <div class="actions mt-2">
      <span class="material-icons" aria-label="favorite-button">
        favorite_border
      </span>
      <button href="#" class="btn btn-primary">

        <p>Añadir al carrito</p>

        <span class="material-icons">
          add_shopping_cart
        </span>

      </button>
    </div>

  </div>
</div>
