@import "~src/styles.scss";

.card {
  height: 390px;

  // width: 270px;
  img {
    height: 240px;
    padding: 1rem;
  }

  // border: none;
  box-shadow: $shadow-lg;

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    .card-title {
      width: 213px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

  }

  .actions {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;

    .btn {
      border-radius: $border-f;
      width: 80%;
      position: relative;

      p {
        font-size: 14px;
      }

      &:hover {
        p {
          transform: translateY(30px);
        }

        .material-icons {
          bottom: 5px;
          transition: ease-in .2s;
        }
      }

      .material-icons {
        position: absolute;
        text-align: center;
        width: 100%;
        left: 0;
        bottom: -30px;
      }
    }
  }


}
