<div class="card my-3 cursor" [routerLink]="['/detalle', item.id_plan]"
routerLinkActive="router-link-active">
  <img [src]="
      item?.galeria.imagenes.length === 0
        ? 'https://via.placeholder.com/400'
        : hostImg + item.galeria.imagenes[0].imagen
    " class="img card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title text-center">{{ item?.nombre }}</h5>
    <p class="card-text text-center">
      $12.000
    </p>
    <div class="actions mt-2">
      <span class="material-icons" aria-label="favorite-button">
        favorite_border
      </span>
      <button (click)="addToCar(item)" class="btn btn-primary">
        <p>Añadir al carrito</p>

        <span class="material-icons">
          add_shopping_cart
        </span>
      </button>
    </div>
  </div>
</div>
