 <app-banner></app-banner>
 <div class="wrapper">
   <div class="container">
     <section class="text-center">
       <h2>Servicio 24 horas</h2>
       <p>¡También nos preocupa tu salud!, en este tiempo de aislamiento, este portal te acercará mucho más a nosotros.
       </p>
       <div class="card shadow secondary-bg">
         <div class="card-body d-flex justify-content-around ">
           <a class="text-white" href="">Mostrar todos los articulos</a>
           <a class="text-white" href="">Soy comprador frecuente</a>
           <a class="text-white" href="">Opciones para comprar virtual</a>
         </div>
       </div>
     </section>
   </div>
   <hr style="margin-top: -60px; border: none;">


 </div>
 <div class="wrapper gray-bg">
   <div class="container py-4">
     <section class="text-center">
       <h2>DE TU INTERÉS</h2>
       <p>Desde mayo de 2020 ya puedes obtener atención las 24 horas, todo nuestro portafolio y la facilidades de
         comprar
         desde casa a los mejores precios.
       </p>
       <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
         <li class="nav-item">
           <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-beneficios" role="tab"
             aria-controls="pills-home" aria-selected="true">Beneficios</a>
         </li>
         <li class="nav-item">
           <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-app" role="tab"
             aria-controls="pills-profile" aria-selected="false">Descarga las Apps</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-novedad" role="tab"
             aria-controls="pills-contact" aria-selected="false">Novedad</a>
         </li>
       </ul>
       <div class="tab-content" id="pills-tabContent">
         <div class="tab-pane fade " id="pills-beneficios" role="tabpanel" aria-labelledby="pills-home-tab">
           <p>
             Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae voluptas fugiat explicabo illo! Quasi
             velit omnis accusamus distinctio esse id ratione, sunt dolore quia fugiat? Neque laboriosam facilis culpa
             saepe.
           </p>
         </div>
         <div class="tab-pane fade show active" id="pills-app" role="tabpanel" aria-labelledby="pills-profile-tab">
           <div class="content-tab-pane d-flex justify-content-around">
             <div class="img-content">
               <img src="assets/img/svg/app.svg" alt="">
             </div>
             <div class="text-content text-justify">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ipsum sint ea ducimus nemo nobis harum
                 molestias autem similique fugiat voluptate, deleniti ipsa qui odit ipsam minus totam numquam delectus?
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Id in repellat culpa velit perferendis ad esse
                 obcaecati alias quasi soluta explicabo officia eligendi, deserunt nisi consequatur beatae illo
                 inventore
                 itaque?
               </p>
             </div>
           </div>
         </div>
         <div class="tab-pane fade" id="pills-novedad" role="tabpanel" aria-labelledby="pills-contact-tab">
           <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim aliquam culpa libero, neque incidunt, sunt
             rem commodi iure dignissimos iusto harum doloremque. Cum placeat doloremque, corporis fuga voluptate quia
             sequi!</p>
         </div>
       </div>
     </section>
   </div>
 </div>


 <div class="wrapper">
   <div class="container">
     <section class="text-center">
       <h2>QUÉ NOS HACE DIFERENTE...</h2>
       <p>Son más de 40 años trabajando para la comunidad del Archipiélago de San Andrés, Providencia y Santa Catalina,
         estamos comprometidos con el suministro de artículos (herramientas, maquinaria, dotación e insumos) para el
         sector
         de la construcción, la manufactura, y otras segmentos como el agro, pesca y oficinas.
       </p>

       <div class="services mt-5">
         <div class="card-deck">
           <div class="card">
             <img src="assets/icons/shop.svg" class="card-img-top icon" alt="...">
             <div class="card-body">
               <h5 class="card-title">Puntos de Venta</h5>
               <hr>
               <p class="card-text">Abrimos todos los días, inclusive días festivos.</p>
             </div>
           </div>
           <div class="card">
             <img src="assets/icons/support.svg" class="card-img-top icon" alt="...">
             <div class="card-body">
               <h5 class="card-title">Asesorías en compras</h5>
               <hr>
               <p class="card-text">Contamos con personal presto a orientar tus ideas.</p>
             </div>
           </div>
           <div class="card">
             <img src="assets/icons/gift.svg" class="card-img-top icon" alt="...">
             <div class="card-body">
               <h5 class="card-title">Despacho en la obra</h5>
               <hr>
               <p class="card-text">Entregas directas en tu negocio o domicilio.</p>
             </div>
           </div>
           <div class="card">
             <img src="assets/icons/tag.svg" class="card-img-top icon" alt="...">
             <div class="card-body">
               <h5 class="card-title">Garantía y calidad</h5>
               <hr>
               <p class="card-text">Encuentras los mejores artículos para tu necesidad</p>
             </div>
           </div>
         </div>
       </div>
     </section>

   </div>
 </div>

 <div class="wrapper gray-bg">
   <div class="container ">
     <section class="text-center rm">
       <h2>ENCUENTRA TODO LO QUE BUSCAS</h2>
       <p>Conocemos el interés por adquirir equipos, herramientas y maquinaria de las mejores marcas, si tienes duda de
         un
         artículo en especial, favor hazlo saber...
       </p>
       <app-tabs></app-tabs>
     </section>
   </div>
 </div>


 <!-- 
 <video class="video-cover" autoplay loop>
   <source src="assets/video/video.mp4" type="video/mp4">
 </video> -->
