  <!--  Header and searchBar  -->
  <nav class="primary-navbar navbar navbar-light bg-light">
    <div class="container">
      <div class="logo">
        <a class="navbar-brand" href="#">
          <img src="../../../favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
          Ferreteria Apolo
        </a>
      </div>
      <div class="searchbar">
        <input type="text" class="searchbar-input" placeholder="Buscar productos">
        <span class="material-icons cursor" aria-label="search-icon">
          search
        </span>
      </div>
      <div class="actions d-flex flex-nowrap justify-content-between">
        <span class="material-icons cursor" aria-label="favorite">
          favorite
        </span>
        <span class="material-icons mx-4 cursor" aria-label="shopping-cart">
          shopping_cart
        </span>
        <div class="action-item position-relative">
          <span class="material-icons login cursor">
            person
          </span>
          <div class="card card-body position-absolute singin">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="example-email">Email</label>
                <input type="email" id="example-email" name="example-email" class="form-control" placeholder="Email">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" value="password">
              </div>
              <label class="d-flex justify-content-between">
                <small class="cursor">Olvidé mi contraseña</small>
                <small class="cursor">Registrarme</small>
              </label>
              <button class="btn btn-block btn-outline-primary">
                Entrar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- Navigation -->
  <nav class="secondary-navbar  navbar-expand-lg navbar-dark bg-dark ">
    <div class="container d-flex">
      <div class="btn-group">

        <button type="button" class="btn py-3 btn-categories btn-danger d-flex justify-content-center align-items-cente"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="material-icons mr-3">
            menu
          </span>
          Ver Categorias
        </button>
        <div class="dropdown-menu">
          <ng-container *ngFor="let item of categories">
            <a class="dropdown-item" href="#">{{item?.categoria_es}}</a>
          </ng-container>
        </div>
      </div>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="about.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Tienda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link cursor" routerLink="/contacto">Contactanos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
