<div class="container">
  <div class="row my-2">
    <div class="col-md-6">
      <div class="card card-body">
        <h3 class="box-title m-b-0">Escribenos tus dudas</h3>
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Nombre</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="jhon doe">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="emaik@email.com">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Asunto</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="asesoría">
              </div>
              <div class="form-group">
                <textarea name="" class="w-100"  rows="7" placeholder="tu mensaje" id=""></textarea>
              </div>
              <button type="submit"  class="btn w-50 btn-success btn-outline-primary waves-effect waves-light m-r-10">Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="https://via.placeholder.com/600x200" class="mb-3" alt="">
      <h3 class="mb-3">Contactanos</h3>
      <p>
        ¡Escríbenos y un profesional se comunicará contigo y resolverá todas tus dudas, gracias por confiar en nosotros!
        Nuestra plataforma cuenta con tecnología de punta para mayor tranquilidad en sus compras contamos con
        certificado SSL (secure socket layer) protocolo de seguridad enlazada a la pasarela de pagos.
      </p>
    </div>
  </div>
</div>
